# Core Python utilities
numpy
pandas
tqdm
requests
regex
beautifulsoup4
urllib3


pyvi
underthesea


sentence-transformers
torch
transformers


tiktoken

chromadb

scikit-learn
python-dotenv

ujson

lxml

rich

jupyter
